.conteudo-centralizado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-centralizado h1{
    text-transform: uppercase;
    margin-top: 50px;
}

#nome-id{
    width: 175px;
}

#form-center{
    margin-top: 25px;
    width: 554px;
    display: flex;
    align-items: center;
    flex-flow: row wrap; 
}

#form-center p{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

#center-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    margin-top: 30px;
}

#center-buttons input{
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 596px){
    #form-center{
        width: 300px;
    }
}