.lugar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}


.lugar img:not(.bandeira){
    width: 90%;
    max-width: 600px;
}

.bandeira{
    display: inline;
    width: 30px;
    max-height: 15px; 
}