#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#conteudo h1{
    text-transform: uppercase;
}

#form-center{
    margin-top: 25px;
    width: 554px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;    
}

#form-center p{
    width: inherit;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

#center-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;

    margin-top: 30px;
}

#center-buttons input{
    margin-right: 10px;
}